

th { padding-right: 10px; width: 110px; }
tr:first-child {
   th, td { border-top: 0; }
}

input.total { max-width: 120px; }


div.messages {

  label { font-weight: normal; }

  input[type='checkbox'] { margin: 0 10px 10px 0; font-size: 18px; }

}

